/* import des polices, variables, tools */
@import 'general';


/* Le corps du document */

body {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: $line-height;
    background-color: $color-body;
    font-family: $font-text;


    h1,
    h2,
    h3,
    h4 {
        font-family: $font-titles;
    }

    h1 {
        font-size: $size-title-1;
        color: $color-title-1;
        text-align:left;

        span {
            color: $color-title-span;
        } 
    }

    h2 {
        font-size: $size-title-2;
        color: $color-title-2;
        margin:1rem;
    }

    h3 {
        font-size: $size-title-3;
        color: $color-title-3;
    }

    a {
        text-decoration: none;
    }

    .golden-text {
        color:$color-golden-text;
        font-weight: 900 ;
    }

    .purple-text {
        color:$color-purple-text;
        font-weight: 900;
    }
}

// .container {
//     min-height : 100%;
// }




/* Animations */

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes slidein {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes animated_div {

    0% {
        transform: rotate(0deg);
        left: -1700px;
        background: yellow;
    }

    70% {
        background: yellow;
    }

    100% {
        transform: rotate(-360deg);
        left: 0px;
        background: $color-good-answer;
    }
}






/* HEADER */

header {
    background-color: $color-header;
    box-shadow: $shadow-lg;

    .selected {
        transition: background-color 0.5s;
        background-color: $color-header-link-selected;
    }


    .display {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $height-header;

        a {
            display: inline-block;
            color: $color-link-text;

            &:hover {
                text-decoration: underline;
                color: $color-link-hover;
            }

            img {
                display: block;
                min-width: 300px;
                height: auto;
                margin-left:5rem;
            }
        }


        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;

            ul,
            li {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }

            > ul {
                display:flex;
                justify-content: center;

            }

            > ul > li {
                position:relative;
                border-right: 1px solid grey;

                &:hover {
                    transform: translateY(5px);
                    transition: .05s ease;
                }

                &:first-child {
                    border-left:1px solid grey;
                }

                & > ul {
                    position:absolute;
                    display:none;
                    li {
                        max-width:10em;

                        i {
                            font-size: $size-fontawesome-header-extended-menu;
                            float:left;
                        }
                        
                    }

                    li + li{
                        border-top: 1px solid #444;
                    }
                }

                &:hover > ul {
                    display:block;
                    background-color: $color-header-link-extended-menu;
                }

            }   

            a {
                min-width: 10em;
                padding: 1em 2em;
                font-family: $font-link;

                &:hover {
                    text-decoration: none;
                    color: pink;
                    background: $color-header-link-hover;

                    i {
                        animation: spin 5s linear infinite;
                    }
                }

                i{
                    font-size:$size-fontawesome-header;
                    vertical-align: middle;
                    margin:0.5rem 0;
                }
            }

        }

    }

    h1 {
        vertical-align: middle;
    }

    .score {
        background: blue;
    }



}




/* MAIN */

main {

    background-color: $color-main;

    aside {
        background-color: $color-aside;
        float:right;
        text-align:center;
        margin-right:1rem;
        border:1px solid black;
        padding:1rem;
        box-shadow: $shadow-xl;
    }

    p {
        a, span {
            color:$color-golden-text;
        }
    }

    article {
        background-color: $color-article;
        padding: 1em;
        border:1px solid black;
        margin:2rem 0;
        box-shadow: $shadow-xl;
    }

    .detail-categorie {

        p {
            text-align: left;
            width: 400px;

        }
    }

    img {
        width: 300px;
        text-align: center;
        margin: 2rem;
    }

    section+section {
        margin-top: 2em;
    }


    /* Style de chaque input */
    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type*="date"],
    select,
    textarea {
        display: inline-block;
        padding: 0.5em 1em;
        font-size: 1.6rem;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0.5em;
    }

    select,
    textarea {
        width: 100%;
    }

    textarea {
        display: block;
        min-height: 10em;
    }


    button {
        display: inline-block;
        padding: 0.5em;
        margin: 1rem;
        width: 200px;
        height: 75px;
        border-radius: 5px;
        color: $color-button-text;
        background-color: $color-button-bg;
        border: $border-lg;
        box-shadow:$shadow-xl;
        cursor: pointer;
        user-select: none;

        &:focus,
        &:hover {
            color: black; 
            transform: translateY(-5px);
            // transform: scale(1.1);
            background: $color-button-hover;
            transition: .05s ease;
        }

        &:active {
            background: $color-button-active;
            transform: scale(.99);
            transition: transform .005s;
        }
    }
    .progress {
        color: #555;
    }










    /* Les modals */

    .modal-bg {
        position:absolute;
        background-color: rgba(grey, 0.6);
        top:0;
        left:0;
        bottom:0;
        right:0;
        display:none;
    }

    .modal-content {
        background-color: rgb(255, 255, 255);
        width: 50%;
        padding: 2em;
        border: 1px solid #888;
        margin: auto;
        box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
        animation: slidein 0.5s ease;
        p {
            margin-bottom:4rem;
        }
    }

    /* Close Button */
    .close {
        float:right;
        color: #aaa;
        float: right;
        font-size: 52px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Formulaire */

    form {
        img {
            width:2000px;
            display:block;
            text-align:center;
            margin:1rem 0.2rem 0rem;
            overflow:auto;
        }
    }

    .display_flex{
        display:flex;
    }

    label {
        display: block;
        margin:auto;
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    input {
        width: 90%;
        margin-bottom:2rem;
        display:inline-block;
    }

    /* modal SignUp */

    #modalSignUp:target {
        display:flex;
    }

    /* modal Login */

    #modalLogin:target {
        display: flex;
    }





    .animated_div {
        width: 130px;
        height: 57px;
        margin: 2rem auto;
        background: $color-good-answer;
        color: #ffffff;
        position: relative;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        animation: animated_div 2s ease;
        border-radius: 5px;
        box-shadow: $shadow-xl;

        i{
            margin:0.2rem;
        }

        i:first-child{
            color:$color-golden-text;
        }

        i:nth-child(3) {
            color:$color-purple-text;
        }

        // button {
        //     background-color: blue;
        // }
    }




}







/* FOOTER */

footer {
    background-color: $color-footer;
    font-family: $font-link;
    height: $height-footer;
    
    div {
        display:flex;
        flex-direction: column;
        p {
            margin-top:3rem;
        }

    }


}






@import 'reponsive';