/* *****************************************************************
FONTS
***************************************************************** */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,200,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Exo:400,400italic,500,600,700,800,900,300,200,100);
/*
	font-family: 'PT Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Exo', sans-serif;
	
*/
/* *****************************************************************
VARS
***************************************************************** */
/* *****************************************************************
TOOLS
***************************************************************** */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Le corps du document */
body {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  background-color: grey;
  font-family: "PT Sans", sans-serif;
  min-height: 100vh;
}

body h1,
body h2,
body h3,
body h4 {
  font-family: "Lato", sans-serif;
}

body h1 {
  font-size: 3.6rem;
  color: blue;
}

body h1 span {
  color: yellow;
}

body h2 {
  font-size: 3.2rem;
  color: green;
  margin: 1rem;
}

body h3 {
  font-size: 2.4rem;
  color: blue;
}

body a {
  text-decoration: none;
  color: #fff;
}

body a:hover {
  text-decoration: underline;
  color: red;
}

header {
  background-color: #30a894;
  height: 150px;
  vertical-align: middle;
}

header .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header img {
  width: 100px;
  height: auto;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1 {
  vertical-align: middle;
}

header .score {
  background: blue;
}

main article {
  background-color: #fff;
  padding: 1em;
}

main img {
  width: 300px;
  text-align: center;
}

main section + section {
  margin-top: 2em;
}

main button {
  display: inline-block;
  padding: 0.5em;
  margin: 0 1rem;
  width: 250px;
  height: 90px;
  border-radius: 5px;
  color: #fff;
  background-color: purple;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main button:focus, main button:hover {
  color: black;
  background-color: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

main button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform .05s;
  transition: -webkit-transform .05s;
  transition: transform .05s;
  transition: transform .05s, -webkit-transform .05s;
}

main .progress {
  color: #555;
}

footer {
  background-color: #30a894;
  height: 75px;
}

footer p {
  margin-top: 0rem;
}

/* https://blog.smarchal.com/sass-et-media-queries */
#content {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #content {
    width: 668px;
  }
}

@media screen and (min-width: 1024px) {
  #content {
    width: 1024px;
  }
}
/*# sourceMappingURL=style.css.map */